.span-18
	#time.span-4
		= Time.zone.now.strftime("%I:%M")
	#date.span-5
		= Time.zone.now.strftime("%b %d")
	.span-9
		- if current_user
			%p.large
				You are currently:
				= current_user.status
			= form_for current_user do |f|
				= f.label :status, 'Clock'
				= f.select :status, User::STATUSES
				= f.submit 'Submit'
	#punches.span-9
		- if current_user && current_user.punches.any?
			%p.large Recent Activity:
			- current_user.punches.each do |p|
				.span-2
					= p.status
				.span-1
					= p.created_at.strftime("%I:%M")
				.span-2
					&nbsp;
					- if p.pull
						= p.pull.strftime("%I:%M")
				.span-4.last
					&nbsp;
					- if p.pull
						= distance_of_time_in_words(p.created_at, p.pull)

