%nav.span24
	.span-2.center
		= link_to "Home", root_path
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center
		= link_to "Longer Link", "#"
	.span-2.center.last
		= link_to "Longer Link", "#"
